<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>一起涂鸦吧</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ static_url("css/business-casual.css") }}" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">一起涂鸦吧／热门活动</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">在线涂鸦</a>
                    </li>
                    <li>
                        <a href="about.html">随便看看</a>
                    </li>
                    <li>
                        <a href="blog.html">热门活动</a>
                    </li>
                    <li>
                        <a href="contact.html">个人中心</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"> <strong>话题</strong>
                        <strong>topic</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{{static_url("img/13.jpg") }}" alt="">
                    <h2>我是歌手3
                        <br>
                        <small>January 10, 2015</small>
                    </h2>
                    <p> #我是歌手3#<br/>
                        &nbsp 湖南卫视《我是歌手3》第二期落下帷幕，张靓颖性感演绎《饿狼传说》霸气登顶，古巨基《父亲》煽情获逆袭，陈洁仪则难逃“一轮游”命运，成为第三季首位离席歌手。她的离开引发全场泪奔。你支持哪位歌手？你希望哪位歌手来后补？</p>
                    <a href="http://sysugraffiti.sinaapp.com/index.html" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{{static_url("img/14.jpg") }}" alt="">
                    <h2>我的2014
                        <br>
                        <small>January 1, 2015</small>
                    </h2>
                    <p>#一句话总结你的2014年#<br/>2014年匆匆而过，每个人对自己过去一年里都有不同的收获，有的人收获了爱情，有的人收获了财富。让我们一起总结一下自己的2014年吧！</p>
                    <a href="http://sysugraffiti.sinaapp.com/index.html" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{{static_url("img/15.jpg") }}" alt="">
                    <h2>亚航马航去哪儿了？
                        <br>
                        <small>December 28, 2014</small>
                    </h2>
                    <p> #亚航失联#
                        2014年12月28日7时17分，亚洲航空公司一架从印度尼西亚飞往新加坡的客机失联。失联的航机编号为QZ8501，       原定8:30到达，在失联前曾要求改变航道。让我们为飞机上的乘客祈祷，希望带回马航MH370！</p>
                    <a href="http://sysugraffiti.sinaapp.com/index.html" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; 一起涂鸦吧 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{static_url("js/jquery.js")}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{static_url("js/bootstrap.min.js")}}"></script>

</body>

</html>
